<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>postEditor</servlet-name>
        <jsp-file>/postEditor.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>com.cleanblog.controller.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPost</servlet-name>
        <servlet-class>com.cleanblog.controller.AddPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveComment</servlet-name>
        <servlet-class>com.cleanblog.controller.ApproveComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>postEditor</servlet-name>
        <url-pattern>/new_post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPost</servlet-name>
        <url-pattern>/AddPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveComment</servlet-name>
        <url-pattern>/ApproveComment</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/index.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/500.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>PostEditor</display-name>
        <web-resource-collection>
            <web-resource-name>PostEditor</web-resource-name>
            <url-pattern>/postEditor.jsp</url-pattern>
            <url-pattern>/new_post</url-pattern>
            <url-pattern>/AddPost</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Registered users should be able to login to the system and add new posts and edit posts.</description>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description>General user for blogger</description>
        <role-name>user</role-name>
    </security-role>
    <security-constraint>
        <display-name>CommentApproval</display-name>
        <web-resource-collection>
            <web-resource-name>CommentApproval</web-resource-name>
            <description/>
            <url-pattern>/CommentDashboard.jsp</url-pattern>
            <url-pattern>/ApproveComment</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Comments will be displayed once approved by any user with a login.</description>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
</web-app>
